body { background: url(../Images/fondo.jpg);
  margin: 0;
  padding: 0;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}
.login-box {
  width: 520px;
  height: 620px;
  background: rgba(255, 250, 250, 0.459);
  border-radius: 25px;
  color: #40E0D0;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}
.login-box h1 {
  color: #000;
  margin: -29px;
  padding: 0 0 74px;
  text-align: center;
  font-size: 32px;
}
.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
  color: black;
}
.login-box input {
  width: 100%;
  margin-bottom: 60px;
}
.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16px;
}
.login-box a {
  text-decoration: none;
  font-size: 19px;
  line-height: 20px;
  color: #000;
}
.center .buttons{
	margin: 35px 280px;
}
.buttons button{
	height: 50px;
	width: 150px;
	font-size: 20px;
	font-weight: 600;
	color: rgb(253, 253, 255);
	background: rgba(0, 195, 255, 0.76);
	outline: none;
	cursor: pointer;
	border: 1px solid rgb(58, 68, 158);
	border-radius: 25px;
	transition: .4s;
	text-decoration:none;
}
.buttons button:hover{
	background: rgb(0, 183, 255);
}
.buttons{
	margin-left: 150px;
}
/*.username{
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}
/*<?php
  $host = "localhost";
  $user = "root";
  $password = "";
  $db = "demo";
?>*/